.header {
  background-color: #fff;
  padding: 0 25px 0 25px;
  box-shadow: 0 3px 5px #ccc;
  font-size: 20px;
}

.headerSticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}
