.header {
  padding: 0 10px 0;
}

.mainContent {
  min-height: calc(100vh - 64px - 70px);
  /* 100vh - header - footer */
}

.mainBanner {
  width: 350px;
  margin: auto;
  padding-top: 110px;
}

.logoWrapper {
  width: fit-content;
  margin: auto;
  margin-bottom: 15px;
}

.tagline {
  margin: auto;
  text-align: center;
  margin-bottom: 75px;
}

.loginForm {
  max-width: 300px;
  width: calc(100% - 50px);
  margin: auto;
}

.loginFormForgot {
  float: right;
}
